/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .btn {
  background: none;
  color: #0b8c4c;
  min-width: 200px;
  padding: 12px 20px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid #0b8c4c;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
}

.wrapper .btn:hover {
  color: #fff;
}

.wrapper .btn::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0b8c4c;
  z-index: -1;
  transition: transform 0.5s linear;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.wrapper .btn1::before {
  transform: scaleX(0);
}

.wrapper .btn2::before {
  transform: scaleY(0);
}

.wrapper .btn1:hover:before {
  transform: scaleX(1);
}

.wrapper .btn2:hover:before {
  transform: scaleY(1);
}
